<div class="ui grid galaxia all-content" style="width: 100%;">

    <div class="sixteen wide column home" id="home" style="background-color: black;">

    </div>

    <div class="sixteen wide column quienes-somos flex-center " style="background-color: white;" id="quienes-somos">
        <div class="teen wide column header-quienes-somos">
            <h2 class="ui header">

                <div class="content text-black" style="font-size: 48px;">
                    <p>¿Quienes Somos?</p>
                </div>
            </h2>

            <h3 class="ui header text-black" style="color: black;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat possimus ex voluptate maxime quibusdam porro explicabo aspernatur minima sit architecto quo, cupiditate cum magnam, repellendus inventore quia doloribus ea adipisci!
            </h3>

        </div>

    </div>
    <!-----------------------------------Primera fila de planetas------------------------------------------------>
    <div class="sixteen wide column fila-1-servicios flex-planet galaxia" id="servicios">

        <div class="ui link cards">
            <div class="card card-planet">
                <div class="image">
                    <img src="/assets/img/planeta1.jpg">
                </div>
                <div class="content">
                    <div class="header">Desarrollo Web</div>

                    <div class="description">
                        Traspamos tus ideas y proyectos a plataformas web otorgando un estilo propio, único y fácil de utilizar para los usuarios de tu sitio.
                    </div>
                </div>

            </div>


            <div class="card card-planet">
                <div class="image">
                    <img src="/assets/img/planeta5.jpg">
                </div>
                <div class="content">
                    <div class="header">Posicionamiento Web</div>

                    <div class="description">
                        Te posicionamos en los motores de búsqueda <u>Google</u> para incrementar el numero de visitas que tu sitio recibe.
                    </div>
                </div>

            </div>

            <div class="card card-planet">
                <div class="image">
                    <img src="/assets/img/planeta3.jpg">
                </div>
                <div class="content">
                    <div class="header">Ecommerce</div>

                    <div class="description">
                        Desarrollamos sistemas de compra online para tus tiendas virtuales, donde se podrán realizar compras a través de tarjeta de <u>débito</u>,<u>crédito</u> ,<u>paypal</u> y otros medios de pago de forma segura.
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--segunda fila de servicios-->
    <div class="sixteen wide column  fila-1-servicios galaxia " id="portafolio-cli">

        <div class="ui link cards">
            <div class="card card-planet">
                <div class="image">
                    <img src="/assets/img/planeta2.jpg">
                </div>
                <div class="content">
                    <div class="header">Matt Giampietro</div>
                    <div class="meta">
                        <a>Friends</a>
                    </div>
                    <div class="description">
                        Matthew is an interior designer living in New York.
                    </div>
                </div>

            </div>


            <div class="card card-planet">
                <div class="image">
                    <img src="/assets/img/planeta4.jpg">
                </div>
                <div class="content">
                    <div class="header">Matt Giampietro</div>
                    <div class="meta">
                        <a>Friends</a>
                    </div>
                    <div class="description">
                        Matthew is an interior designer living in New York.
                    </div>
                </div>

            </div>


        </div>


    </div>

    <!--------------------------Portafolio de clientes------------------------------->
    <div class="sixteen wide column portafolio" id="Portafolio">

    </div>



    <div class="sixteen wide column contacto" id="contacto">

    </div>



</div>