<div class="ui grid galaxia">

    <div class="sixteen wide column mantencion" style="margin-top: 6%;">


        <img class="" style="height: 25%;width: 25%;" src="/assets/img/Logodvlans.png">

        <div class="ui sizer vertical segment">
            <div class="ui huge header " style="color: white;">
                <p style="font-size: 50px;">SITIO EN DESARROLLO</p>
            </div>
            <div class="sixteen wide column">
                <p style="font-size: 25px;">¡Visita nuestras redes y conoce más sobre los productos y servicios disponibles!</p>

                <!--
              <div class="ui vertical animated button" tabindex="0">
                  <div class="hidden content">Facebook</div>
                  <div class="visible content">
                      <i class="facebook icon"><link href="" ></i>
                  </div>
              </div>
              <div class="ui vertical animated button" tabindex="0">
                  <div class="hidden content">Instagram</div>
                  <div class="visible content">
                      <i class="instagram icon"><link href="https://www.instagram.com/dvlans_/"> </i>
                  </div>
              </div>
-->
                <div class="">
                    <button class="ui circular facebook icon button" onclick="facebook()">
                      <i class="facebook icon" ></i>
                    </button>
                    <button class="ui circular twitter icon button" onclick="instagram()">
                      <i class="instagram icon"></i>
                     
                    </button>
                </div>

                <div class="nine wide column" style="margin-top: 3%;font-size: 25px;">
                    o contáctanos al siguiente <br><br> correo: contacto@dvlans.com
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    function instagram() {
        location.href = "https://www.instagram.com/dvlans_/"
    }

    function facebook() {
        location.href = "https://www.facebook.com/DvLans-407723083033557/"
    }
</script>